<section id="community" class="pt25 ph20 m:ph40 l:ph80 mb70 l:mb105 xl:mb140">
  {% include section-title, title: "Community", cx: "mb20" %}
  <div class="m:df">
    <div class="m:w50 pt25 m:pr25 mb50 m:mb0">
      <h3 class="mono f16 l:f18 f138 mb20 m:mb30">{{ community.accordion.label }}</h3>
      <dl class="accordion bb" data-component="accordion">
        {% for item in community.accordion.items %}
          <dt>
            <button class="accordion__header x tl pt20 pr50 pb15{% unless forloop.first %} bt{% endunless%} js-headers">
              <h4 class="f18 l:f22 lh125 ls01em">{{ item.title }}</h4>
            </button>
          </dt>
          <dd class="accordion__panel js-panels">
            <div class="accordion__panel-inner js-inners">
              <div class="f16 l:f18 lh155 ls01em l:ls02em pb15">
                {{ item.body }}
              </div>
            </div>
          </dd>
        {% endfor %}
      </dl>
    </div>
    <div class="m:w50 m:pl40 l:pl80 xl:pl150">
      <div class="br13 bg-teal c-tan p25">
        <h3 class="mono f16 l:f18 f138 mb20 m:mb30">Publications</h3>
        <ul>
          {% for publication in community.publications limit:4 %}
            <li class="f16 l:f18 lh133 ls01em mb25">
              <h4 class="mb5">{{ publication.title }}</h4>
              <p class="i o80">{{ publication.authors }}</p>
              <p class="i o80">{{ publication.journal }}</p>
            </li>
          {% endfor %}
        </ul>
        {% if publications.size > 4 %}
          <a class="mono f16 l:f18 f138 tdu" href="/publications">Show more</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>