<section id="events" class="pt25 ph20 m:ph40 l:ph80 mb40 m:mb100">
  {% include section-title, title: "Events", cx: "mb20 m:mb45" %}
  <ul class="df fw mhn5 s:mhn10 m:mhn15">
    {% for event in events %}
      <li class="event-card w50 m:w25 ph5 s:ph10 m:ph15">
        <a href="/event/{{ event.slug }}/">
          <div class="rel db br2 m:br4 oh mb15">
            {% include lazy-image,
              image: event.image,
              containerCx: 'r--4x3',
              imgCx: 'x y o-cover',
              width: 600,
              padding: false
            %}
            <span class="event-card__date db abs top left bg-teal ph10 z1 c-tan mono f12 m:f14 ttu">
              {% assign startDate = event.startDatetime | date: '%b %d' %}
              {% assign endDate = event.endDatetime | date: '%b %d' %}
              {% if startDate == endDate %}
                {{ startDate }}
              {% else %}
                {{ startDate }} - {{ endDate }}
              {% endif %}
            </span>
          </div>
          <h3 class="serif f16 s:f18 m:f22 lh1318 mb10">{{ event.title }}</h3>
          <p class="f12 s:f14 m:f18 lh155 ls02em">Presented by {{ event.speakerName }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>