<section id="lab" class="pt25 mb20 m:mb80 l:mb100">
  <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
    {% include section-title, title: "Lab" %}
  </div>

  <div class="m:df ph20 m:ph40 l:ph80 mb80 l:mb110">
    <div class="m:w60 xl:w50 m:pr25 mb35 m:mb0">
      <h3 class="serif f27 m:f38 xl:f50 lh120 mb20 m:mb30">{{ lab.row1.headline }}</h3>
      <div class="f16 l:f18 lh155 ls01em l:ls02em mb45">{{ lab.row1.body }}</div>
      <a
        class="button dib mono f16 m:f18 lh111 pv20 ph35 ba br3"
        href="{{ lab.row1.button.url }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ lab.row1.button.title }} +
      </a>
    </div>
    <div class="xs:w90 s:w80 m:w40 xl:w50 m:pl25 l:pl40 xl:pl80 xl:pt45">
      <div class="r r--4x3">
        {% for image in lab.row1.images %}
          <div class="abs w55{% if forloop.first %} top left{% else %} bottom right z0{% endif %}">
            {% include lazy-image,
              image: image,
              containerCx: 'r--4x3 br4 oh',
              imgCx: 'x y cover',
              width: 620,
              padding: false
            %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="m:df ph20 m:ph40 l:ph80 mb80 l:mb110">
    <div class="m:w60 xl:w50 m:pl25 mb35 m:mb0">
      <h3 class="serif f27 m:f38 xl:f50 lh120 mb20 m:mb30">{{ lab.row2.headline }}</h3>
      <div class="f16 l:f18 lh155 ls01em l:ls02em">{{ lab.row2.body }}</div>
    </div>
    <div class="on1 xs:w90 s:w80 m:w40 xl:w50 m:pr25 l:pr40 xl:pr80 xl:pt45">
      <div class="r r--4x3">
        {% for image in lab.row2.images %}
          <div class="abs w55{% if forloop.first %} top left{% else %} bottom right{% endif %}">
            {% include lazy-image,
              image: image,
              containerCx: 'r--4x3 br4 oh',
              imgCx: 'x y cover',
              width: 620,
              padding: false
            %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="ph20 m:ph40 l:ph80 c-tan">
    <div class="br16 ph30 pt25 pb55 l:p50 bg-teal">
      <div class="m:df">
        <div class="m:w40 xl:w50 m:pr25 l:pr40 xl:pr80 mb25 m:mb0">
          {% include lazy-image,
            image: lab.facultySpotlight.image,
            containerCx: 'r--4x3 br10 oh',
            imgCx: 'x y cover',
            width: 1020,
            padding: false
          %}
        </div>
        <div class="m:w60 xl:w50 m:pl25">
          <h3 class="mono f16 l:f18 lh138 mb20 m:mb30">Faculty Spotlight</h3>
          <h4 class="serif f27 m:f38 xl:f50 lh120 mb20 m:mb30">{{ lab.facultySpotlight.name }}</h4>
          {% capture teaser %}
            {% if lab.facultySpotlight.teaser %}
              {{ lab.facultySpotlight.teaser }}
            {% else %}
              {{ lab.facultySpotlight.editorial | truncate: 280 }}
            {% endif %}
          {% endcapture %}
          <div class="f16 l:f18 lh155 ls01em l:ls02em mb35 l:mb45">{{ teaser }}</div>
          <a
            class="button button--tan dib mono f16 m:f18 lh111 pv20 ph35 ba br3"
            href="/faculty-spotlight/{{ lab.facultySpotlight.slug }}/"
          >
            Read more +
          </a>
        </div>
      </div>
    </div>
  </div>
</section>