<section id="projects" class="pt25 mb60 s:mb80">
  <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
    {% include section-title, title: "Projects" %}
  </div>
  <ul class="project-slider ph20 m:ph40 l:ph80" data-component="projectSlider">
    <ul class="f0 nowrap mhn5 m:mhn10">
      {% for project in projects %}
        <li class="project-slider__item dib wrap mb40 ph5 m:ph10" style="vertical-align: top;">
          <a class="project-slider__link db pen" href="/project/{{ project.slug }}/">
            {% include lazy-image,
              image: project.image,
              containerCx: 'r--4x3 br7 oh mb10 s:mb20',
              imgCx: 'x y o-cover',
              padding: false
            %}
            <p class="mono f11 s:f14 mb5 s:mb10 m:mb5">
              {{ project.metadata.semester | capitalize }} {{ project.metadata.year }}
            </p>
            <h3 class="serif f16 s:f21 m:f32 lh125 mb15">{{ project.title }}</h3>
            <p class="sans f16 m:f18 lh155 ls02em dn s:db">{{ project.subtitle }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </ul>
</section>