<div
  class="about-carousel dn m:df"
  data-component="aboutCarousel"
  data-autoplay-duration="{{ autoplayDuration }}"
>
  <ul class="w40 xl:w50 pt20">
    {% for item in items %}
      <li class="mb10">
        <button class="about-carousel__button f38 xl:f50 lh150 js-buttons" data-index="{{ forloop.index0 }}">
          {{ item.name }}
          <span class="js-lines"></span>
        </button>
      </li>
    {% endfor %}
  </ul>
  <ul class="rel w60 xl:w50 pl25">
    {% for item in items %}
      <li class="about-carousel__content o0 js-slides">
        <h3 class="serif f38 xl:f50 lh120 mb30">{{ item.headline }}</h3>
        <div class="f16 l:f18 lh155 ls01em l:ls02em">{{ item.body }}</div>
        {% if item.link.title and item.link.url %}
          <a
            class="button dib mono f16 m:f18 lh111 pv20 ph35 ba br3 bc-tan mt40 l:mt45"
            href="{{ item.link.url }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ item.link.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="about--mobile db m:dn">
  <ul>
    {% for item in items %}
      <li class="mb45">
        <h3 class="mb15">
          <span class="db mono f16 lh155 mb20">{{ forloop.index }}. {{ item.name }}</span>
          <span class="db serif f27 lh119">{{ item.headline }}</span>
        </h3>
        <div class="f16 lh155 ls01em">{{ item.body }}</div>
        {% if item.link.title and item.link.url %}
          <a
            class="button dib mono f16 m:f18 lh111 pv20 ph35 ba br3 bc-tan mt40 l:mt45"
            href="{{ item.link.url }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ item.link.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>