{% assign length = filters | size %}
{% if length > 0 %}
  <div class="x ox hide-scrollbar">
    <ul class="nowrap">
      {% for filter in filters %}
        {%- capture cx -%}
          dib
          {% if padding %}
            {% if forloop.first %}
              ml20 m:ml40 l:ml80
            {% endif %}
            {% if forloop.last %}
              mr20 m:mr40 l:mr80
            {% else %}
              mr10
            {% endif %}
          {% else %}
            mr10
          {% endif %}
        {%- endcapture -%}
        <li class="{{ cx }}">
          {%- capture href -%}
            {{ baseHref }}{% if filter.slug %}{{ filter.slug }}/{% endif %}
          {%- endcapture -%}
          <a class="button db mono f14 pv15 ph25 ba br3{% if href == activeHref %} bg-blue c-tan pen{% endif %}" href="{{ href }}">{{ filter.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}