<div class="project-slider ph20 m:ph40 l:ph80" data-component="projectSlider">
  <ul class="f0 nowrap mhn5 m:mhn10">
    {% for project in projects %}
      <li class="project-slider__item dib wrap ph5 m:ph10" style="vertical-align: top;">
        <div class="project-slider__item__inner">
          <a class="db pen" href="/project/{{ project.slug }}/">
            {% include lazy-image,
              image: project.image,
              containerCx: 'r--4x3 br7 oh mb10 s:mb20',
              imgCx: 'x y o-cover',
              width: 740,
              padding: false
            %}
            <p class="mono f11 s:f14 mb5 s:mb10 m:mb5">
              {{ project.metadata.semester | capitalize }} {{ project.metadata.year }}
            </p>
            <h3 class="serif f16 s:f21 m:f32 lh125 mb15">{{ project.title }}</h3>
            <p class="sans f16 m:f18 lh155 ls02em dn s:db">{{ project.subtitle }}</p>
        </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>