{%- capture titleHtml -%}
  <h2 class="section-title f18 s:f21 lh119 ls02em">{{ title }}</h2>
{%- endcapture -%}

<div class="x {{ cx }}">
  {% if viewMoreHref %}
    <div class="df jcb ais">
      {{ titleHtml }}
      <a
        class="mono f18 lh100 dn m:db" 
        href="{{ viewMoreHref }}"
      >
        {{ viewMoreText | default: 'View more' }} →
      </a>
    </div>
  {% else %}
    {{ titleHtml }}
  {% endif %}
</div>


{% assign viewMoreHref = blank %}
{% assign viewMoreText = blank %}