---
layout: base-modal.liquid
permalink: /event/{{ event.slug }}/
pagination: 
  alias: event
  data: events
  size: 1
renderData:
  title: "{{ event.title }}"
---
{% capture eventMetadata %}
  <ul class="mono f16 m:f18 lh155 mb40 m:mb70">
    <li class="mb5">{{ event.metadata.speakerName }}</li>
    <li class="mb5">{{ event.metadata.startDatetime | date: '%A, %B %d, %Y' }}</li>
    <li class="mb5">
      {{ event.metadata.startDatetime | date: '%l:%M %p' }} - {{ event.metadata.endDatetime | date: '%l:%M %p' }}
    </li>
    <li class="mb5">{{ event.metadata.location }}</li>
  </ul>
{% endcapture %}

{% include detail,
  label: 'Event',
  title: event.title,
  metadata: eventMetadata,
  image: event.image,
  editorial: event.editorial
%}