---
layout: base.liquid
title: Home
---
{% assign intro = landingPage.intro %}
{% assign projects = landingPage.projects %}

<div data-router-view="home">
  {% include header %}

  <section id="intro" class="rel ph20 m:ph40 l:ph80 pt100 s:pt150 m:pt200 pb200 oh">
    <div class="rel z1">
      <h1 class="serif f32 s:f52 l:f72 lh1156 s:lh1138 mb20 s:mb45 max-w700 l:max-w920">{{ intro.headline }}</h1>
      <div class="sans f16 s:f20 l:f24 lh150 ls01em s:ls02em max-w600 l:max-w850">{{ intro.body }}</div>
    </div>
    <div class="texture abs right bottom w80 s:w70">
      {% include texture %}
    </div>
  </section>

  <section id="projects" class="pt25 mb60 s:mb80">
    <div class="pl20 m:pl40 l:pl80 pb20 s:pb30 m:pb50">
      {% include section-title, title: "Projects" %}
    </div>
    <div class="project-slider x ox">
      <ul class="f0 nowrap pl20 m:pl40 l:pl80">
        {% for project in projects %}
          <li class="project-slider__item w40 l:w30 dib wrap mb40" style="vertical-align: top;">
            <a class="db" href="/project/{{ project.slug }}">
              {% include lazy-image,
                image: project.image,
                altText: project.altText,
                containerCx: 'r--4x3 br7 oh mb10 s:mb20',
                imgCx: 'x y cover',
                padding: false
              %}
              <p class="mono f11 s:f14 mb5 s:mb10 m:mb5">
                {{ project.metadata.semester | capitalize }} {{ project.metadata.year }}
              </p>
              <h3 class="serif f16 s:f21 m:f32 lh125 mb15">{{ project.title }}</h3>
              <p class="sans f16 m:f18 lh155 ls02em dn s:db">{{ project.subtitle }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% debug landingPage %}
</div>