---
layout: base-modal.liquid
permalink: /project/{{ project.slug }}/
pagination: 
  alias: project
  data: projects
  size: 1
renderData:
  title: "{{ project.title }}"
---
{% capture projectMetadata %}
  <ul class="mono f16 m:f18 lh155 mb40 m:mb70">
    <li class="mb5">{{ project.metadata.semester | capitalize }} {{ project.metadata.year }}</li>
    {% for link in project.metadata.links %}
      <li class="mb5">
        <a class="tdu" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endcapture %}

{% capture studentTeam %}
  <div class="mt40 m:mt60">
    {% if project.studentTeam %}
      <h4 class="mono f16 m:f18 lh155 mb15 m:mb20">Student Team</h2>
      <ul class="f16 lh1625 ls01em mhn5 df fw">
        {% for person in project.studentTeam %}
          <li class="third ph5 mb10">
            {% include lazy-image,
              image: person.headshot,
              containerCx: 'r--1x1 br4 oh mb10',
              imgCx: 'x y o-cover',
              width: 440,
              padding: false
            %}
            <p class="sans f14 ls01em lh125">{{ person.name }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endcapture %}

{% include detail,
  label: 'Faculty/Student Project',
  title: project.title,
  metadata: projectMetadata,
  image: project.image,
  editorial: project.editorial,
  additionalContent: studentTeam
%}