---
layout: base.liquid
permalink: /project/{{ project.slug }}/
pagination: 
  alias: project
  data: projects
  size: 1
renderData:
  title: "{{ project.title }}"
---
<div data-router-view>
  <div class="detail ph20 m:ph40 l:ph80 pt100 s:pt150 l:pt180 min-vh100">
    <div class="rel max-w635 mha">
      <div class="breadcrumbs mono f14 lh150 mb20">
        <a href="/">Home</a> / <a href="/projects">Projects</a> / <a href="/projects/{{ project.metadata.category.slug }}">{{ project.metadata.category.title }}</a>
      </div>
      <h1 class="serif f27 m:f32 l:f50 lh115 mb15 m:mb25">{{ project.title }}</h1>
      <p class="f18 m:f20 l:f24 lh140 l:lh150 ls02em mb25">{{ project.subtitle }}</p>
      {% if project.metadata.links %}
        <ul class="mb40 l:mb50">
          {% for link in project.metadata.links %}
            <li class="mr10 mb15 dib">
              <a
                class="button dib mono f14 lh111 pv15 ph25 ba br3"
                href="{{ link.url }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="df aic">
                  <span class="mr10">{{ link.title }}</span>
                  {% include link-icon %}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <ul class="detail__metadata mono f14">
        <li>
          <h2 class="lh100 ls02em ttu c-blue-muted mb10">Category</h2>
          <p class="lh150">{{ project.metadata.category.title }}</p>
        </li>
        <li>
          <h2 class="lh100 ls02em ttu c-blue-muted mb10">Year</h2>
          <p class="lh150">{{ project.metadata.semester | capitalize }} {{ project.metadata.year }}</p>
        </li>
      </ul>
      <div class="rich-text f16 m:f18 l:f22 lh150 ls02em mb40 l:mb90">
        {{ project.editorial }}
      </div>
      <div class="mb70 l:mb80">
        {%- capture containerCx -%}
          br10 oh {% if image.caption %}mb10{% endif %}
        {%- endcapture -%}
        {% include lazy-image,
          image: project.image,
          containerCx: containerCx,
          imgCx: 'x y o-cover',
          width: 500,
          padding: true
        %}
        {% if image.caption %}
          <p class="f14 m:f16 lh155 ls01em m:ls02em o80">{{ image.caption }}</p>
        {% endif %}
      </div>
      {% if project.studentTeam %}
        <div class="mb50 l:mb75">
          <h4 class="mono f16 m:f18 lh100 mb30">Student Team</h2>
          <ul class="f16 lh1625 ls01em mhn5 m:mhn10 l:mhn15 df fw">
            {% for person in project.studentTeam %}
              <li class="w50 xs:third ph5 m:ph10 l:ph15 mb30 l:mb25">
                {% include lazy-image,
                  image: person.headshot,
                  containerCx: 'r--1x1 br10 oh mb10 l:mb15',
                  imgCx: 'x y o-cover',
                  width: 320,
                  padding: false
                %}
                <p class="sans f16 l:f18 ls02em lh120 l:lh150">{{ person.name }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <a
        class="button db pt35 m:pt40 pb45 m:pb55 ph30 l:ph50 ba br10 tc mb100"
        href="/projects/{{ project.metadata.category.slug }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div class="mono f14 m:f16 l:f18 lh100 ls02em mb10">View all</div>
        <div class="serif f22 m:f24 l:f32 lh120">{{ project.metadata.category.title }}</div>
      </a>
    </div>
  </div>
  {% include footer %}
</div>